<%- include("header") -%>
    <div class="box" id="heading" onclick="erhöhen()">
        <h1 id="text123">Gerüchte</h1>
		<p style="font-size: 15px; margin-top: -30px; margin-bottom: 0px">Hier klicken um das Design zu ändern.</p>
    </div>
<br>
<title>lol</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <div id="extrawurscht">
      <form id="categories" method="get">
      </form>
    </div>

    <div class="box">
      <% itemsList.forEach((item) => { %>
        <form action="/delete/<%= category %>" method="post">
          <div class="item">
            <p name="item" style="font-family: "Roboto", sans-serif;"><%= item.name %></p>
          </div>
        </form>
      <% }) %>

      <form class="item" action="/<%= category %>" method="post">
        <input type="text" name="newItem" placeholder="Add new item" autocomplete="off" id="placeholder" autofocus>
        <button type="submit" name="addButton" class="round-button" value=<%= category %>>+</button>
      </form>
    </div>
<%- include("footer") -%>

<script>
var bildanzeige = 0;
var AnzahlBilder = 4;

function erhöhen() {
if(bildanzeige < AnzahlBilder) {
bildanzeige++;
} else {
bildanzeige = 0;
}
console.log(bildanzeige);
switchy();
}

function switchy() {
switch(bildanzeige) {
case 0:
document.getElementById("heading").style.backgroundImage = 'url("css/img/gradient.jpg")';
break;
case 1:
document.getElementById("heading").style.backgroundImage = 'url("css/img/rgbnogif.png")';
break;
case 2:
document.getElementById("heading").style.backgroundImage = 'url("css/img/nextgradient.gif")';
break;
case 3:
document.getElementById("heading").style.backgroundImage = 'url("css/img/rgbgif.gif")';
break;
case 4:
document.getElementById("heading").style.backgroundImage = 'url("css/img/spirale.gif")';
break;
}
}


var ausgewählt = localStorage.getItem("ausgewählt");

if(ausgewählt != null) {
document.getElementById("placeholder").placeholder = "Bitte "+ ausgewählt + " eingeben";
}

function zitate(){
ausgewählt = "Zitate";
window.localStorage.setItem("ausgewählt", ausgewählt);
}

function gerüchte() {
ausgewählt = "Gerüchte";
window.localStorage.setItem("ausgewählt", ausgewählt);;
}
</script>
