<%- include("header") -%>
    <div class="box" id="heading">
        <h1 id="text123">Die geniale Gerüchteliste</h1>
    </div>
<br>
<title>lol</title>
<link rel="shortcut icon" href="https://dpsg.de/themes/custom/dpsg_sass/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <div id="extrawurscht">
      <form id="categories" method="get">
      </form>
    </div>

    <div class="box">
      <% itemsList.forEach((item) => { %>
        <form action="/delete/<%= category %>" method="post">
          <div class="item">
            <p name="item" style="font-family: "Roboto", sans-serif;"><%= item.name %></p>
          </div>
        </form>
      <% }) %>

      <form class="item" action="/<%= category %>" method="post">
        <input type="text" name="newItem" placeholder="Add new item" autocomplete="off" id="placeholder" autofocus>
        <button type="submit" name="addButton" class="round-button" value=<%= category %>>+</button>
      </form>
    </div>
<%- include("footer") -%>

<script>
var ausgewählt = localStorage.getItem("ausgewählt");

if(ausgewählt != null) {
document.getElementById("text123").innerHTML = ausgewählt;
document.getElementById("placeholder").placeholder = "Bitte "+ ausgewählt + " eingeben";
}

function zitate(){
ausgewählt = "Zitate";
window.localStorage.setItem("ausgewählt", ausgewählt);
}

function gerüchte() {
ausgewählt = "Gerüchte";
window.localStorage.setItem("ausgewählt", ausgewählt);;
}
</script>